*/packer_cache/*
*/output-*
*.iso
*.swp
*.terraform*
.vscode/
Ansible/my-playbooks/
Terraform/*/terraform.tfstate*
Terraform/*/terraform-plugin-proxmox.log
Terraform/*/*/terraform.tfstate*
Terraform/*/*/terraform-plugin-proxmox.log
my-stuff/
inventory/
Vault/data/
user-data
user-data.bak
*.preseed
*.preseed.bak
*.kdbx
pki/
users.json
.env
.env.*
*.tfvars
*.tfvars.json
*.pem
*.key
id_rsa*
id_ed25519*
*.vault
*.retry
host_vars/
group_vars/
*.log
*.out
